.register-section{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-container{
    background-color: #ffffffaf;
    border: 3px solid rgba(0, 238, 250, 0.222);
    border-radius: 10px;
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
}
.register-container img{
    box-shadow: 0 5px 10px 0 rgba(19, 3, 167, 0.201), 0 6px 10px 0 rgba(0,0,0,0.19);
    margin-bottom: 1rem;
}

input{
    border: 2px solid #c17eff;
    height: 2rem;
    width: 100%;
    border-radius: 10px;
    padding: 6px;
    color: #000000;
    font-size: medium;
}

input:focus {
    outline: none; /* or outline: 0; */
}

.Register-btn{
    border: 1px solid #0cb9e9;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #10076f;;
    color:#10dde4;
}

.loginRouteContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-btnroute{
    color:#10dde4;
}

.form-error{
    color: rgb(227, 51, 51);
    font-weight: 400;
    font-size: x-small;
    font-style: italic;
}


@media screen and (max-width: 1000px) {
    .register-container{
        width: 70vw;
        height: 65vh;
        font-size: x-large;
    }
    input{
        width: 30vw;
        height: 3rem;
    }

    .Register-btn{
        width: 10rem;
        height: 3rem;
        font-size: x-large;
    }
}
